@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --backgroundColor1: #203040;
  --linkHover: #ff8000;
  --textColor1: white;
  --bt-clr-border: #c0c0c0;
  --bt-border-hover: #808080;
  --bt-background1: #f0f0f0;
  --bt-background-primary: #f0c040;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body,
#root {
  height: 100vh;
  margin: 0;
}

body,
input,
select,
button,
textarea {
  font-size: 1.6rem;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

.grid-container {
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
}

a:hover {
  color: var(--linkHover);
}

header {
  grid-area: header;
  background-color: var(--backgroundColor1);
  color: var(--textColor1);
}
header a {
  color: var(--textColor1);
  text-decoration: none;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
  background-color: var(--backgroundColor1);
  color: var(--textColor1);
}

.content {
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
}

/* products */
.products li {
  flex: 0 1 29rem;
  height: 47rem;
  padding: 1rem;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.product img {
  max-width: 37rem;
  max-height: 37rem;
}
.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-price div,
.product-price button {
  text-align: center;
}
.button {
  padding: 1rem;
  border: 0.1rem var(--bt-clr-border) solid;
  border-radius: 10px;
  font-weight: 600;
  background-color: var(--bt-background1);
  cursor: pointer;
}
.button:focus {
  outline: none;
}
.button:hover {
  border: 0.1rem var(--bt-border-hover) solid;
}
.bt-primary {
  background-color: var(--bt-background-primary);
}

/*   Filter */
.filter {
  padding: 1rem;
  margin: 1rem;
  border-bottom: 0.1rem var(--bt-clr-border) solid;
}
.filter div {
  flex: 1;
}

/* Cart */
.cart {
  padding: 1rem;
  margin: 1rem;
  display: flex;
  font-weight: 600;
}

.cart-header {
  border-bottom: 0.1rem var(--bt-clr-border) solid;
}
.cart-items {
  padding: 0;
  width: 100%;
  list-style-type: none;
}
.cart-items img {
  width: 5rem;
  min-width: 40px;
  min-height: 50px;
}

.cart-items li {
  display: flex;
  justify-content: space-between;
}
.cart-items li div {
  padding: 0.5rem;
}
.cart-items li div:last-child {
  flex: 1;
}

/* Checkout form */

.form-container {
  width: 100%;
  padding: 0;
  list-style-type: none;
}
.form-container li {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
input {
  padding: 1rem;
  border: 0.1rem var(--bt-clr-border) solid;
}

/* Product Details */
.product-details {
  max-height: 96vh;
}

.product-details-description {
  flex: 1 1;
  margin: 1rem;
}

/* Order Details */
.order-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.order-details li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-details li div {
  padding: 10px;
}
